@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Poppins', sans-serif;
}

.list-group {
  --bs-list-group-border-color: rgb(203, 196, 167);
}

.list-group-item {
  border-color: var(--bs-list-group-border-color);
}
